.mat-card {
    width: 200px;
    margin: auto;
    background-color: #EEEEEE;
    font-family: "Arial";
}

.video-space {
    border: 1px dashed;
    width: 210px;
    height: 100px;
    padding: 0;
}

