.mat-card {
    width: 210px;
    margin: auto;
    background-color: #EEEEEE;
    font-family: "Arial";
}

.video-space {
    border: 1px dashed;
    width: 210px;
    height: 100px;
}

// #EF7E78 for red text