<md-card>
  <md-card-header>
    <div class="video-space">
      
    </div>
  </md-card-header>
  <br>
  <md-card-content>
    <md-card-title>{{ title }}</md-card-title>
    <md-card-subtitle><strong>Posted on {{ postedOn }}</strong></md-card-subtitle>
    <md-card-subtitle>{{ description }}</md-card-subtitle>

  </md-card-content>
  <md-card-actions>
    <button md-button><i class="fa fa-play"></i>Play</button>
    <button md-button><i class="fa fa-play"></i>Download</button>
  </md-card-actions>
</md-card>
