.mat-card {
    width: 210px;
    margin: auto;
    // background-color: #EEEEEE;
    font-family: "Arial";
    padding: 5px;
}

.video-space {
    border: 1px dashed;
    width: 100%;
    height: 100px;
    margin-left: 0;
    margin-right: 5%;
}